/*************** GLOBAL ***************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: white;
}

.wrap {
  width: 100%;
  height: 100vh;
  background-color: brown;
}

.flex-container {
  display: flex;
}

.line {
  height: 1px;
  background: white;
}

.active {
  border-bottom: 2px solid #1DB954;
}

/*************** MAIN ***************/
main {
  height: calc(100% - 70px);
  background-color: aqua;
  display: flex;
}

/************ HEADER ************/
header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  width: calc(100% - 220px);
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
}

header .flex-container {
  justify-content: end;
  align-items: center;
  height: 100%;
}

header .btn {
  margin-right: 35px;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
}

header .btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/************ MENU ************/
.menu {
  width: 220px;
  height: 100%;
  padding: 0 15px;
  color: #a1a1a1;
  background-color: black;
  overflow: hidden;
}

.menu ul {
  list-style: none;
}

.menu ul img {
  width: 25px;
  vertical-align: middle;
  margin-right: 5px;
  filter: brightness(60%);
}

.menu ul li {
  padding: 2px;
}

/*hover li*/
.menu ul li:hover {
  color: white;
  cursor: pointer;
  filter:  brightness(0) invert(1);
}

/*LOGO*/
.menu .logo img {
  width: 135px;
  padding: 15px 0;
}

/*MENU HEADER*/
.menu-header {
  height: 170px;
}

#menu-header-main {
  margin-bottom: 25px;
}

#menu-header-bottom .fas.fa-plus-square {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

#menu-header-bottom .fas.fa-heart {
  font-size: 22px;
  color: #5040a4;
  vertical-align: middle;
  margin-right: 5px;
}

/*MENU MAIN*/
.menu-main {
  height: calc(100% - 310px);
  min-height: 50px;
  overflow: auto;
  padding: 10px 0;
}

.menu-main ul li {
  padding: 5px 3px;
}

/*MENU FOOTER*/
.menu-footer {
  max-height: 50px;
  margin-bottom: 20px;
}

.menu-footer div {
  padding: 5px 0;
}

.menu-footer .line {
  padding: 0;
}

.menu-footer img {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

#img-user {
  background-color: grey;
  border-radius: 50%;
}

.menu-footer .user {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

.menu-footer .install-app {
  filter: brightness(60%);
}

/*hover install-app*/
.menu-footer .install-app:hover {
  color: white;
  filter:  brightness(0) invert(1);
  cursor: pointer;
}

/************ CONTENT ************/
.content {
  width: calc(100% - 220px);
  height: 100%;
  padding: 0 15px;
  padding-top: 70px;
  overflow: auto;
  background-color: #141922;
}

.content h4 {
  padding: 5px 0;
}

.content h5, .content h6 {
  color: #a1a1a1;
}

.box {
  width: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 10px 10px 0;
}

.box-img {
  width: 100%;
  height: 12vw;
}

img {
  width: 100%;
  height: 100%;
}

.box-text {
  text-align: center;
}

/*NAV*/
.content-nav ul {
  list-style: none;
  text-align: center;
}

.content-nav ul li {
  display: inline-block;
  color: #a1a1a1;
  margin: 20px 10px;
}

/*hover nav*/
.content-nav ul li:hover {
  color: white;
  cursor: pointer;
}

/*ASCOLTATI DI RECENTE*/
.acoltati-di-recente {
  margin-bottom: 25px;
}

.acoltati-di-recente .flex-container {
  flex-wrap: wrap;
}

/*CREATO PER TE*/
.creato-per-te {
  margin-bottom: 25px;
}

.creato-per-te .flex-container {
  flex-wrap: wrap;
}

/*ARTISTI PIU' POPOLARI*/
.artisti-piu-popolari {
  margin-bottom: 25px;
}

.artisti-piu-popolari .flex-container {
  flex-wrap: wrap;
}

.box.popular-artist .box-img {
  border-radius: 50%;
  overflow: hidden;
}

/*************** FOOTER ***************/
footer {
  height: 70px;
  padding: 10px;
  color: white;
  background-color: #181818;
}

footer .flex-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.end-circle::after {
  content: ""; 
  display: none;
  float: right;
  height: 10px; 
  width: 10px; 
  border-radius: 10px;
  background: white; 
  margin-top: -3px;
}

/*FOOTER LEFT*/
.left-footer {
  display: flex;
}

.left-footer .song-play {
  display: flex;
}

.left-footer img {
  width: 50px;
  padding: 8px 0;
}

.left-footer .song-play .box-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10px;
}  

.left-footer .song-play .box-text a {
  text-decoration: none;
  color: white;
}

.left-footer .song-play .box-text h6 a {
  color: #a1a1a1;
}

/*hover box-text*/
.left-footer .song-play .box-text a:hover {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.left-footer .heart-folder {
  line-height: 70px;
  vertical-align: middle;
  color: #a1a1a1;
}

.left-footer .heart-folder i {
margin-right: 5px;
}

/*hover heart-folder*/
.left-footer .heart-folder i:hover {
  color: white;
  cursor: pointer;
}

/*FOOTER CENTER*/
.center-footer {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*play*/
.center-footer .play {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-footer .play i {
  margin: 5px 10px;
}

/*hover play*/
.center-footer .play i:hover {
  cursor: pointer;
}
.far.fa-play-circle.fa-3x:hover {
  transform: scale(1.1);
}

/*time-song*/
.center-footer .time-song {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-footer .time-song .line {
  width: 100%;
  height: 4px;
  margin: 0 10px;
  border-radius: 20px;
  background-color: #535353;
}

.center-footer .time-song .line .progress-line {
  width: 35%;
  height: 100%;
  background-color: white;
}

/*hover line song*/
.center-footer .time-song .line:hover {
  cursor: pointer;
}

.center-footer .time-song .line:hover .end-circle::after {
  display: block;
}

.center-footer .time-song .line:hover .progress-line {
  background-color: #1DB954;
}

/*FOOTER RIGHT*/
.right-footer {
  display: flex;
  justify-content: flex-end;
}

.right-footer i {
  margin-left: 15px;
}

.right-footer i:hover {
  cursor: pointer;
}

.right-footer .volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-footer .volume .line {
  width: 100px;
  height: 4px;
  margin-left: 10px;
  border-radius: 20px;
  background-color: #535353;
}

.right-footer .volume .line .progress-line {
  width: 40%;
  height: 100%;
  background-color: white;
}

/*hover line volume*/
.right-footer .volume .line:hover {
  cursor: pointer;
}

.right-footer .volume .line:hover .end-circle::after {
  display: block;
}

.right-footer .volume .line:hover .progress-line {
  background-color: #1DB954;
}


