/*************** GLOBAL ***************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  color: white;
}

.flex-container {
  display: flex;
}

.box-img {
  width: 10vw;
  height: 10vw;
}

img {
  width: 100%;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.box-text {
  text-align: center;
}

.line {
    height: 1px;
    background: white;
}

/*************** MENU ***************/
.menu {
  width: 225px;
  height: calc(100vh - 70px);
  background-color: black;
  padding: 0 15px;
  color: #a1a1a1;
}

.menu .logo img {
  width: 135px;
  padding: 15px 0;
}

/*MENU HEADER*/
.menu-header {
  height: 170px;
}

.menu ul {
  list-style: none;
}
.menu ul li {
  padding: 2px;
}

.menu ul img {
  width: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

#menu-header-main {
  margin-bottom: 25px;
}


#menu-header-bottom .fas.fa-plus-square {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

#menu-header-bottom .fas.fa-heart {
  font-size: 22px;
  color: #5040a4;
  vertical-align: middle;
  margin-right: 5px;
}

/*MENU MAIN*/
.menu-main {
  height: calc(100% - 310px);
  overflow: auto;
  padding: 10px 0;
}

.menu-main ul li {
  padding: 5px 0;
}

/*MENU FOOTER*/
.menu-footer {
  max-height: 50px;
  margin-bottom: 20px;
}

.menu-footer div {
  padding: 5px 0;
}

.menu-footer .line {
  padding: 0;
}

.menu-footer img {
  width: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

#img-user {
  background-color: grey;
  border-radius: 50%;
}

.menu-footer .user {
  font-size: 14px;
  font-weight: bold;
  color: white;
}

/*************** HEADER ***************/
header {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 225px);
  height: 70px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

header .flex-container {
  justify-content: end;
  align-items: center;
  height: 100%;
}

header .btn {
  margin-right: 50px;
  border: 1px solid white;
  padding: 8px 20px;
  border-radius: 20px;
  font-weight: bold;
}

header .btn:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/*************** MAIN ***************/
main {
  width: calc(100% - 225px);
  height: calc(100vh - 70px);
  background-color: #141922;
  overflow: auto;
  padding: 15px;
  padding-top: 70px;
}

.main-nav ul {
  list-style: none;
  text-align: center;
}

.main-nav ul li {
  display: inline-block;
  padding: 20px 10px;
}

/*ASCOLTATI DI RECENTE*/
.acoltati-di-recente {
  margin-bottom: 25px;
}

.acoltati-di-recente .flex-container {
  flex-wrap: wrap;
}

/*CREATO PER TE*/
.creato-per-te {
  margin-bottom: 25px;
}

.creato-per-te .flex-container {
  flex-wrap: wrap;
}

/*ARTISTI PIU' POPOLARI*/
.artisti-piu-popolari {
  margin-bottom: 25px;
}

.artisti-piu-popolari .flex-container {
  flex-wrap: wrap;
}

.box.popular-artist .box-img {
  border-radius: 50%;
  overflow: hidden;
}

/*************** FOOTER ***************/
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 888;
  width: 100%;
  height: 70px;
  padding: 10px;
  background-color: #282828;
}

footer img {
  width: 40px;
}

footer .flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left-footer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.song-play {
  vertical-align: middle;
}

/*FOOTER RIGHT*/
.right-footer {
  display: flex;
  justify-content: flex-end;
}

.right-footer .volume {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-footer .volume .line{
  width: 100px;
  height: 4px;
  margin-left: 10px;
  border-radius: 20px;
}

.right-footer i {
  margin-left: 15px;
}